#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
nav {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border: solid 1px white;
  width: 100%;
  background-color: #272525;
  height: 30px;
  font-size: larger;
  z-index: 1;
}
.news{
  border: solid white;
}
.recent-wr{
  grid-column-start: 1;
  grid-column-end: 2;
  border: solid red;
  margin-top: 10px;
}

.recent-subs{
  grid-column-start: 3;
  grid-column-end: 4;
  border: solid red;
  margin-top: 10px;
  
}

.recent-records{
  display: grid;
  column-gap: 50px;
}


